.alerts .alert {
    margin-bottom: 5px;
}
.alerts.wrapper-content {
    padding: 10px 10px 0px;
    margin-bottom: -15px;
}
.dodaj-posilek-form input {
    text-align: center;
}
.dodaj-posilek-form .chosen-select {
	width: 95%;
}
.dodaj-posilek-form .suma-group .col-sm-1.control-label {
    width: 5%;
}
.tabela-dzien .suma td {
	background: #ccc;
}
.tabela-dzien .produkt th{
	background: #F5F5F6;
}
.blok-suma-dnia .hr-line-dashed {
	margin: 0;
}
.dodaj-posilek-form .row-produkt,
.dodaj-posilek-form .row-dzien {
	margin-left: 0;
}
.dodaj-posilek-form .jq-nowy-produkt{
	position: relative;
    top: 22px;
}

.dodaj-posilek-form .jq-nowy-produkt{
	position: relative;
    top: 22px;
}

.dodaj-posilek-form #jq-nazwa-posilku {
	display: none;
}

@media(min-width: 767px) {
	.dodaj-posilek-form .row-produkt .col-xs-6 {
		width: 300px;
	}
	.dodaj-posilek-form .row-produkt .col-xs-4 {
		width: 100px;
	}
	.dodaj-posilek-form .row-produkt .col-xs-2 {
		width: 60px;
	}
}

@media(max-width: 767px) {
	.blok-suma-dnia {
		display: none;
	}
	.kal_dzien_dodaj.blok-suma-dnia {
		display: block;
	}
	.dzien-podsumowanie .gram,
	.table-lista-produktow .gram {
		display: none;
	}
	.table-lista-produktow .cena,
	.dzien-podsumowanie .cena {
		display: none;
	}
	.table-lista-produktow .tluszcze {
		display: none;
	}
	table.table-lista-produktow th,
	table.table-lista-produktow td,
	.dzien-podsumowanie table th,
	.dzien-podsumowanie table td {
		padding: 2px;
		font-size: 8px;
	}
}

.chosen-container-single .chosen-single {
    border-radius: 0px !important;
    background: #fff !important;
    padding: 3px 0 5px 8px !important;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -16px 8px !important;
}

.chosen-container-single .chosen-single div b {
    background-position: 0px 7px !important;
}
.chosen-container-single .chosen-search input[type="text"] {
    text-align: left;
}
.loginscreen.middle-box {
    width: 300px;
}
.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}
.avatar-row img {
    width: 200px;
    margin: 15px 15px 0;
    display: inline-block;
    vertical-align: middle;
}
.avatar-row form {
}
.tabela-wycen .btn {
    padding: 6px 12px;
}
.tabela-wycen label.input {
    height: 30px;
}
#side-menu img.img-circle {
    width: 48px;
    height: 48px;
}

.breadcrumb li:last-child {
    font-weight: bold;
}

