{% extends "CommonUserBundle::empty_page.html.twig" %}

{% block pageContainer %}
    <h1>500</h1>
    <h3 class="font-bold">Przepraszamy, wystąpił wewnetrzny błąd systemu</h3>

    <div class="error-desc">
        Wróć za pomoca tego przycisku do aplikacji <br/><a href="{{ path('kal_produkty_lista') }}" class="btn btn-primary m-t">Wróć</a>
    </div>
{% endblock %}
